/* Alerta de erro */
.errorAlert{
    text-align: center;
    color: red;
}

/* Lista do histórico de cotações */
ul {
    margin-left: 20%;
    margin-right: 20%;
    list-style-type: none;
    padding: 0;
}

li {
    background-color: beige;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 25px;
}

li span {
    font-size: 20px;
    margin-right: 10%;
    margin-left: 5%;
}
